html {
	        font-family: avenir
}
h1 { background-color: #eeddff; }
h3 { background-color: #ddffee; }

#piano {
    border: #ffeedd solid;
    margin: 10px;
    padding: 5px;
    height: 450px;
    width: 550px;
    float: right;
}

#piano-img {
    width: 100%;
    height:95%;
}

#spain {
    border: #ffeedd solid;
    height: 410px;
    width: 330px;
    margin: 10px;
    padding: 5px;
    float: right;
}

#spain-img {
    width: 100%;
    height:88%;
}
